{% if ansible_royco_ntp_sources_use_anycast %}

#
# Anycast sources
#
{% for source in ansible_royco_ntp_sources_anycast %}
{{ source }}
{% endfor %}
{% endif %}
{% if ansible_royco_ntp_sources_use_us %}

#
# US-based sources
#
{% for source in ansible_royco_ntp_sources_us %}
{{ source }}
{% endfor %}
{% endif %}
{% if ansible_royco_ntp_sources_use_global %}

#
# Global sources
#
{% for source in ansible_royco_ntp_sources_global %}
{{ source }}
{% endfor %}
{% endif %}