{% if ansible_royco_ntp_sources_use_anycast %}
{% for source in ansible_royco_ntp_sources_anycast %} {{ source }} {% endfor %}
{% endif %}
{% if ansible_royco_ntp_sources_use_us %}
{% for source in ansible_royco_ntp_sources_us %} {{ source }} {% endfor %}
{% endif %}
{% if ansible_royco_ntp_sources_use_global %}
{% for source in ansible_royco_ntp_sources_global %} {{ source }} {% endfor %}
{% endif %}